$theme: #3586FF;
 $dark: (
  dpTheme: $theme,
  dpStrong: #fff,
  dpNormal: #8E9298,
  dpAncillary: #74767C,
  dpRed: #ED4949,
  dpYellow: #F6B73D,
  dpGreen: #24C23D,
  dpBasicWhite: #1A1A21,
  dpBasicBlack: #FFF,
  dpBackground: #141415,
  dpDivide: #3C3D45,
  dpButton: #30313A,
  dpCombatButton: #30313A,
  dpCard: #24242B,
  dpCardBorder: #292B2E,
  dpTopBackground: #1D1F26,
  dpPromptBackground: #3C3E4C,
  dpInputBackground: #292C34,
  dpCoinBg: #3C3E4C,
  dpPlayTypeBg: linear-gradient(90deg, rgba(53, 134, 255, 0.10) 0%, rgba(255, 255, 255, 0.00) 29.6%),
  dpSwitchBtnBg: #17181D,
  dpSwitchActBg: linear-gradient(180deg, #333642 0%, #2E323E 100%),
  dpSwitchBtnShadow: 0px 1px 2px 0px rgba(21, 22, 25, 0.25),
  dpCountDownBg: #DFECFF,
  oddBoxShadow: 0px 1px 2px 0px rgba(22, 22, 23, 0.25),
  dpActiveButton: #292C34,
  dpBetCard: #292B2E,
  dpBetCard1: #292B2E,
  dpBetGrad1: rgba(53, 53, 66, 0.5),
  dpBar: #25262E,
  dpConfirmModalBg: #3C3D45,
  dpAlert4Bg: url('../img/alert4-bg-dark.webp'),
  dpAlert4Img: url('../img/alert4-img-dark.svg'),
  dpAlert3Gradient: linear-gradient(180deg, rgba(50, 51, 60, 0.00) 0%, #32333C 100%),
  dpAlert3Bg: url('../img/bg_dark.webp'),
  // dpAlert3Player: url($player),
  dp_tip_notice_modal_background1: linear-gradient(180deg, #4D4F54 0%, #262728 100%),
  dp_tip_notice_modal_background2: linear-gradient(180deg, rgba(51, 52, 56, 0.8) 29.14%, rgba(36, 36, 38, 0.8) 106.78%),
  dp_tip_notice_modal_title_color: #FFF,
  dp_tip_notice_modal_content_color: #E1E1E1,
  dp_tip_notice_modal_button_background: linear-gradient(180deg, #5D5F63 0%, #474849 56.25%, #505458 100%),
  dp_tip_notice_modal_button_box_shadow: 0px 2px 2px 0px rgba(31, 34, 38, 0.16),
  dp_tip_notice2_modal_background_img: url('../img/notice2_dark.webp'),
  dp_tip_notice3_modal_background_img: url('../img/notice3_dark.webp'),
  dpOrderCard: #30313A,
  dpOrderCardBg: url('~@this/assets/images/betting-card/dark-card-bg.svg'),
  h5Red: #ED4949,
  skeletonBg: linear-gradient(90deg, rgba(255, 255, 255, 0.12) 25%, rgba(255, 255, 255, 0.18) 37%, rgba(255, 255, 255, 0.12) 63%),
  textRed: #e94343,
  dpLine: #3C3D45,
  iconBorderColor: #292B2E,
  dpForm1: #25262D,
  dpForm2: rgba(255, 255, 255, 0.08),
  footerBg: #1E2029,
  footerBgNew: #1E2029,
  footerBorderColor: #4A4A5F,
  footerShadow: 0px -2px 8px 0px rgba(121, 129, 164, 0.12),
  switchBtnBg2: rgba(255, 255, 255, 0.20),
  dpGray: #A7B3D0,
  dpDarkBlue: #9DA7C3,
  dpBgShadow: linear-gradient(90deg, #19191F 0.02%, #3F3F48 5.78%, #19191F 12.35%, #19191F 90.8%, #3A3A45 95.37%, #19191F 99.78%),
  dpDropShadow: drop-shadow(0px 2px 4px rgba(6, 15, 34, 0.25)),
  dpVsTeam: url('./i/team-bg-dark.webp'),
  expandBorderColor: rgba(255, 255, 255, 0.29),
  expandBg: linear-gradient(132deg, #0678A9 16.36%, #144792 70.22%),
  dpBallBorder: #8E9298,
  dpBallBg: rgba(174, 174, 174, 0.10),
  dpRuleBg: #141415,
  leagueItemBg: rgba(255, 255, 255, 0.04),
  gameBg: transparent,
  borderInverse: rgba(255, 255, 255, 0.04),
  oddShadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.04),
  dpTextSubtle: rgba(255, 255, 255, 0.50),
  dpLayerSecondary500: rgba(255, 255, 255, 0.04),
  dpLayerToggleSelected: rgba(255, 255, 255, 0.20),
  dpTextInverse: #FFFFFF,
  dpTextDiabled: rgba(255, 255, 255, 0.30),
  dpTextColor: rgba(255, 255, 255, 0.90),
  dpBackgroundSecondary50: #1E2029,
  dpBorderDivide: rgba(255, 255, 255, 0.04),
  mainBg: transparent,
  dpCombatBg: rgba(255, 255, 255, 0.08),
  dpTutorialText: rgba(255, 255, 255, 0.90),
  dpOverUnderText: rgba(255, 255, 255, 0.50),
  dpTutorialImg: url('./i/tutorial-bg-img-dark.webp'),
  dpTutorialBg: rgba(255, 255, 255, 0.04),
  dpTutorialBorder: rgba(255, 255, 255, 0.08),
  dpBallbarBorder: rgba(255, 255, 255, 0.20),
  dpScoreText: rgba(255, 255, 255, 0.40),
  dpWhite: #FFF,
  dpLaylerColorAlt: rgba(255, 255, 255, 0.08)
)
