$theme: #179CFF;
$light: (
  dpTheme: $theme,
  dpStrong: #303442,
  dpNormal: #AFB3C8,
  dpAncillary: #C5CEE6,
  dpRed: #ED4949,
  dpYellow: #F6B73D,
  dpGreen: #24C23D,
  dpBasicWhite: #fff,
  dpBasicBlack: #19191A,
  dpBackground: #EFF1F7,
  dpDivide: #EAECF0,
  dpButton: #fff,
  dpCombatButton: #19191A,
  dpCard: #fcf9fb,
  dpCardBorder: #fff,
  dpTopBackground: #fff,
  dpPromptBackground: #F0F2F8,
  dpInputBackground: #F5F7FF,
  dpCoinBg: #F0F2F8,
  dpPlayTypeBg: #F6F8FC,
  dpSwitchBtnBg: #F6F8FC,
  dpSwitchActBg: linear-gradient(180deg, #FFF 0%, #F5F7FA 100%),
  dpSwitchBtnShadow: 0px 1px 2px 0px rgba(181, 182, 189, 0.25),
  dpCountDownBg: #DFECFF,
  oddBoxShadow: 0px 1px 2px 0px rgba(198, 200, 207, 0.25),
  dpActiveButton: #F5F7FF,
  dpBetCard: #24242B,
  dpBetCard1: #F9FAFC,
  dpBetGrad1: #FFFFFF,
  dpBar: #FCFCFC,
  dpConfirmModalBg: #FFF,
  dpAlert4Bg: url('../img/alert4-bg-light.webp'),
  dpAlert4Img: url('../img/alert4-img-light.svg'),
  dpAlert3Gradient: linear-gradient(180deg, rgba(248, 248, 248, 0.00) 0%, #F8F8F8 100%),
  dpAlert3Bg: url('../img/bg_light.webp'),
  // dpAlert3Player: url($player),
  dp_tip_notice_modal_background1: linear-gradient(180deg, #F6F7F9 0%, #D5DBE7 100%),
  dp_tip_notice_modal_background2: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 29.14%, rgba(221, 224, 235, 0.8) 106.78%),
  dp_tip_notice_modal_title_color: #0B0B0C,
  dp_tip_notice_modal_content_color: #787878,
  dp_tip_notice_modal_button_background: linear-gradient(180deg, #FFF 0%, #FFF 56.25%, #ECF0F4 80.73%, #FBFBFB 100%),
  dp_tip_notice_modal_button_box_shadow: 0px 2px 2px 0px rgba(202, 209, 218, 0.16),
  dp_tip_notice2_modal_background_img: url('../img/notice2_light.webp'),
  dp_tip_notice3_modal_background_img: url('../img/notice3_light.webp'),
  dpOrderCard: #F9FAFC,
  dpOrderCardBg: url('~@this/assets/images/betting-card/light-card-bg.svg'),
  h5Red: #ED4949,
  skeletonBg: linear-gradient(90deg, rgba(0, 0, 0, 0.06) 25%, rgba(0, 0, 0, 0.15) 37%, rgba(0, 0, 0, 0.06) 63%),
  textRed: #b1222b,
  dpLine: #E9ECF3,
  iconBorderColor: #fff,
  dpForm1: #FAFCFF,
  dpForm2: #FFF,
  footerBg: #f4f7ff,
  footerBgNew: #fff,
  footerBorderColor: #E0E3FF,
  footerShadow: 0px -2px 8px 0px rgba(121, 129, 164, 0.12),
  switchBtnBg2: linear-gradient(91deg, #3586FF 0.78%, #35B6FF 94.81%),
  dpGray: #667498,
  dpDarkBlue: #414E72,
  dpBgShadow: linear-gradient(90deg, #CED7F2 0.02%, #E8EDFB 5.78%, #CED7F2 12.35%, #CED7F2 90.8%, #ECF0FA 95.37%, #CED7F2 99.78%),
  dpDropShadow: drop-shadow(0px 2px 4px rgba(200, 212, 237, 0.25)),
  dpVsTeam: url('./i/team-bg-light.webp'),
  expandBorderColor: #fff,
  expandBg: linear-gradient(to right bottom, #80E1FF, #63A2FF),
  dpBallBorder: #E1E3FF,
  dpBallBg: #FAFCFF,
  dpRuleBg: #FFF,
  leagueItemBg: #F8F9FA,
  leagueFixedItemBg: #F8F9FA,
  gameBg: #F2F2F6,
  borderInverse: #fff,
  oddShadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.04),
  dpTextSubtle: #7981A4,
  dpLayerSecondary500: #7981A4,
  dpLayerToggleSelected: #FFFFFF,
  dpTextInverse: #FFFFFF,
  dpTextDiabled: #AFB3C8,
  dpTextColor: #303442,
  dpBackgroundSecondary50: #F2F2F6,
  dpBorderDivide: #F2F2F6,
  mainBg: #fff,
  dpCombatBg: #333,
  dpTutorialText: #333,
  dpOverUnderText: #8D8D8D,
  dpTutorialImg: #EFF1F7,
  dpTutorialBg: #FFF,
  dpTutorialBorder: #FBFBFB,
  dpBallbarBorder: #333,
  dpScoreText: #AFAFAF,
  dpWhite: #FFF,
  dpLaylerColorAlt: rgba(255, 255, 255, 1)
)
