@import '~@style/mixins/index.scss';

:local(.wrapper) {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px 14px;
  height: 24px;
  padding-left: 34px;
  position: relative;
  text-align: center;
  background: transparent;
  .go-back {
    position: absolute;
    left: 0px;
    top: 0;
    width: 44px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .div {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
  }
  .navbar {
    left: 50%;
    transform: translate(-50%);
    position: absolute;
  }

  .img {
    height: 20px;
    position: relative;
    width: 20px;
  }

  .text-wrapper {
    font-size: 16px;
    font-weight: 400;
    font-family: "PingFang SC-Medium", Helvetica;
    letter-spacing: 0;
    text-align: center;
    white-space: nowrap;
    @include useTheme {
      color: getVar('dpStrong');
    }
    transform: translateZ(0);

  }

}
.date-list {
  width: 100%;
  height: 22px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
  padding: 0 10px;
  box-sizing: border-box;
  @include useTheme {
    background-color: getVar('dpTopBackground');
  }
  .option-item {
    padding: 0 10px;
    white-space: nowrap;
    font-weight: 500;
    @include useTheme {
      color: getVar('dpNormal');
    }
    &.active {
      @include useTheme {
        color: getVar('dpTheme');
      }
    }
  }
}
