@import '~@style/mixins/index.scss';

:local(.wrapper){
  position: absolute;
  bottom: 0;
  padding-bottom: calc(env(safe-area-bottom) + 3px);
  z-index: 5;
  height: 59px;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 24px 24px 0 0;
  
  @include useTheme {
    background: getVar('footerBgNew');
    box-shadow: getVar('footerShadow');
  }
  .icon-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-size: contain;
    .rotate-infinite{
      animation: rotate-infinite 2s infinite;
    }

  }
  >div{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    img{
      width: 22px;
      height: 22px;
      margin-bottom: 4px;
    }
    span{
      width: 100%;
      text-align: center;
      @include useTheme {
        color: getVar('dpNormal');
      }
      font-size: 11px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
}
