@import '~@core/templates/desktop/styles/mixins/index.scss';

.filter_wrapper {
  padding: 8px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, rgba(53, 134, 255, 0.1) 0%, rgba(255, 255, 255, 0) 29.6%);
  @include useTheme {
    background-color: getVar('dpTopBackground');
    border-top: 0.5px solid getVar('dpDivide');
  }
  .filter {
    display: flex;
    align-items: center;
    gap: 2px;
    .icon {
      width: 14px;
      height: 14px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      @include useTheme {
        &.filterIcon {
          background-image: getVar('dpFilterIcon');
        }
        &.filterIconActive {
          background-image: url('./i/filter_active.png');
        }
        &.sport_logo {
          @each $i in -1 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 276 277 278 279 286 288 290 696969 {
            &.sid_#{$i} {
              background-image: url('~@my/assets/images/sport-icons-h5/' + $i + '-active.png');
            }
          }
        }
      }
    }
    .txt {
      font-size: 12px;
      line-height: 12px;
      font-family: PingFang SC;
      @include useTheme {
        color: getVar('dpH5Strong');
      }
    }
    .status {
      font-size: 10px;
      line-height: 10px;
      font-family: PingFang SC;
      @include useTheme {
        color: getVar('dpAncillary');
      }
    }
  }
  >  div:last-child {
    width: 12px;
    height: 12px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &.showPanel {
      width: 12px;
      height: 12px;
      @include useTheme {
        background-image: getVar('dpFilterDownIcon');
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
    &.hidePanel {

      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      @include useTheme {
        background-image: getVar('dpFilterDownIcon');
      }
    }
  }

}
