@import '~@core/templates/desktop/styles/mixins/index.scss';

:local(.upgreadeProgress) {
  height: calc(100% - 6px);
  &.dark {
    background-image: url('./../i/back_dark.webp');
  }
  background-image: url('./../i/back_dark.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;

  .body{
    padding-top: 8px;
    display: flex;
    flex-flow: column;
    align-items: center;
    .logo,.title{
      z-index: 1;
    }
    .title{
      font-size: 22px;
      font-weight: 500px;
      @include useTheme{
        color : getVar('dpStrong');
      }
      margin-top: 15px;
    }

    .image{
      margin-top: 25px;
    }

    .detail{
      margin-top: 9px;
      z-index: 1;
      .sub{
        display: flex;
        flex-flow: column;
        align-items: center;
        gap: 24px;
        margin-bottom: 47px;

        .sub-title{
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 8px;
          font-size: 16px;
          font-weight: 400;
          @include useTheme{
            color: getVar('dpStrong');
          }
        }

        .sub-content{
          display: flex;
          flex-flow: column;
          align-items: center;
          gap: 24px;
          text-align: center;
          @include useTheme{
            color: getVar('dpNormal');
          }
          font-size: 13px;
          font-weight: 400;
          line-height: 24px;

          .from{
            @include useTheme{
              color: getVar('dpTheme');
            }
          }
        }
      }
    }
  }
}
