@import '~@core/templates/desktop/styles/mixins/index.scss';

:local(.wraper) {
  height: 100vh;
  background-image: url('./i/bg.webp');
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include useTheme {
    background-color: getVar(dpBackground);
  }
  .content {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
    .Image404 {
      width: 638px;
      height: 577px;
      img  {
        width: 100%;
        height: 100%;
      }
    }
    .desc404 {
      padding-left: 50px;
      .logo {
        width: 155px;
        height: auto;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .descContent {
        .ttl {
          font-size: 54px;
          font-weight: 500;
          font-family: PingFang SC;
          line-height: 81px;
          margin-top: 24px;
        }
        .desc {
          font-size: 18px;
          line-height: 24px;
          width: 580px;
          margin-top: 30px;
          @include useTheme {
            color: getVar(dpStrong);
          }
        }
      }
      .goBack {
        padding: 24px 48px;
        border-radius: 31px;
        margin-top: 92px;
        display: flex;
        align-items: center;
      }
    }
  }
}